@font-face {
    font-family: 'aller-light';
    src: url(Fonts/Aller_Lt.ttf);
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#main-body{
    background: #4293ff;
    width: 100%;
    height: 100vh;
}

/* nav */
header{
    padding-top: 3vh;
}
.logo-icon{
    background: #ffffff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 3rem;
}
.logo-txt{
    margin-left: 6rem;
    margin-top: -4.3vh;
    font-family: 'aller-light';
    font-size: 1.3rem;
    color: white;
}

nav{
    font-family: 'aller-light';
    font-size: 0.5;
}
.get{
    background: #ffffff;
    color: #4293ff;
    border-radius: 30px;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
}
   .get:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
   }
   
   .get:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   .get::after {
    content: "";
    transition: all .4s;
   }
   
   .get::after {
    background-color: #fff;
   }
   
   .get:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }

.nav-link:hover{
    color: #ffffff !important;
}
.nav-link{
    position: relative;
}
.nav-link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.100rem;
    background: #fff;

    transform: scale(0, 1);
    transition: transform 0.3s ease;
}
.nav-link:hover::after{
    transform: scale(1, 1);
}
/* nav */